<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activity Organizer and Passive Support System</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="custom-container">
        {{!-- <h1 class="text-center m-4 text-success">Activity Organizer and Passive Support System</h1> --}}
        <div class="container w-50 bg-light p-5 rounded position-absolute top-50 start-50 translate-middle ">
            <h3 class="text-center text-primary">Registration Form</h3>
            <br>
            {{!-- Display errors --}}
            {{!-- if condition --}}
            {{#if errors}}
                {{!-- Foreach loop --}}
                {{#each errors}}
                    <div class="alert alert-danger alert-dismissible fade show">
                        <strong>{{msg}}</strong>
                        <button class="close" data-dismiss="alert"><span>&times;</span></button>
                    </div>
                {{/each}}
                {{!-- End Foreach loop--}}
            {{/if}}
            {{!-- End If Condition --}}
            
            <form class="d-grid gap-3" method="post">
                <div class="form-group">
                    <label>Username <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="username" placeholder="Enter Your Username">
                </div>
                <div class="form-group">
                    <label>Nama</label>
                    <input type="text" class="form-control" name="nama" placeholder="Enter Your Full Name">
                </div>
                <div class="form-group">
                    <label>Email <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="email" placeholder="Enter Your E-Mail">
                </div>
                <div class="form-group">
                    <label>Tanggal Lahir <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="tgl_lahir" placeholder="Enter Date of Birth">
                </div>
                <div class="form-group">
                    <label>Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="password" placeholder="Enter Your Password">
                </div>
                <div class="form-group">
                    <label>Harapan Anda <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="harapan_user" placeholder="Enter Your Goals">
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-info btn-block">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            Already user? Login <a href="/">here</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    setTimeout(() => {
        $('.alert').remove();
    }, 3000)
</script>

</html>