<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activity Organizer and Passive Support System</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="custom-container">
        <form method="post">
            {{!-- <input type="text" name="point"> --}}
            <input type="radio" name="point" value="3">4-8 jam<br> 
            <input type="radio" name="point" value="1">8-10 jam<br>
            <button type="submit">Add Point</button> <br>
            <span>user point: {{userDetail.point}}</span><br>
            back to <a href="/user">user page</a>
        </form>
    </div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>